html{
    font-family: 'Inter', sans-serif;
}
.container{
    display: flex;
    padding: 20px 0px 20px 0px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    margin: -10px -10px 0px -10px;
    box-sizing: border-box;
}
.header{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.logo{
    font-size: 18px;
    letter-spacing: 3px;
    color: #000;
    display: flex;
    align-items: center;
    text-decoration: none;

    box-sizing: border-box;
}
.social{
    display: flex;
    list-style: none;
}
.social li a{
    border-radius: 100%;
    color: #FFF;
    width: 24px;
    height: 24px;
    background-color: #F26464;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
}
.header ul{
    padding: 0;
    margin: 0;
}
.header a span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #000;
    border-radius: 4px;
    color: #FFF;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin-right: 12px;
}
.header li{
    display: list-item;
    text-align: -webkit-match-parent;
    padding-right: 12px;
}
.banner{
    display: flex;
    box-sizing: border-box;
    margin-top: 10px;
}

.khunganh{
    width: 800px;
    height: auto;
    margin-left: 90px;
    margin-right: 12px;
}
.banner .khunganh img{
    min-width: 200px;
    width: 100%;
    height: auto;
}
.banner h1{
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    color: #000;
    padding-left: 82px;
    padding-right: 162px;
}
.banner h1 span{
    display: block;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 16px;
    margin-top: -30px;
    padding-bottom: 30px;
}
.banner .khungchu{
    padding-left: 70px;
    padding-right: 100px;
}
.number{
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    padding-left: 85px;
    margin-top: 30px; 
    box-sizing: border-box;
}
.number strong {
    display: block;
    color: #F26464;
    font-size: 36px;
    font-weight: 900;
}
.number li{
    padding-right: 60px ;
}
.about{
    padding-top: 30px;
    margin-left: 90px;
    margin-right: 90px;
}
.GT{
    display: inline-block;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    border-bottom: 3px solid #F26464;
    padding-bottom: 7px;
    margin-bottom: 23px;
}
.about p{
    font-size: 24px;
    margin-bottom: 60px;
    letter-spacing: 1px;
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.about .button1{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 13px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #F26464;
    padding: 17px 30px;
    border: 2px solid #F26464;
    border-radius: 60px;
    text-align: center!important;
}
.about .button{
    text-align: center;
}
.Skill{
    box-sizing: border-box;
    display: flex;
    margin: 80px;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
.Skill li{
    display: inline-block;
    color: #373737;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #FFF;
    border: 1px solid #D7D7D7;
    border-radius: 27px;
    margin-right: 15px;
    margin-bottom: 15px;
    font-weight: 500;
}
.Skill1{
    flex: 0 0 auto;
    width: 50%;
    padding: 0px 10px;
}